N8N Auto Blogging/auto articles.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Pass through article data - webhook will automatically upload and host images\n// The webhook endpoint handles image uploads server-side when it receives the content\nconst input = $input.first().json;\nconst article = input.output || input;\n\n// Debug: Log the body to see if images are present\nconsole.log('Article body length:', article.body?.length || 0);\nif (article.body) {\n  const imgMatches = article.body.match(/<img[^>]+src=[\"']([^\"']+)[\"'][^>]*>/gi);\n  console.log('Found images in body:', imgMatches?.length || 0);\n  if (imgMatches && imgMatches.length > 0) {\n    console.log('First image tag:', imgMatches[0]);\n  }\n}\n\n// Return article data as-is - webhook will:\n// 1. Extract image URLs from HTML content\n// 2. Download images from external URLs\n// 3. Upload them to our server\n// 4. Replace URLs in HTML with hosted URLs\nreturn [{\n  json: {\n    output: article\n  }\n}];"
      },
      "id": "75e3030d-93b6-438d-a0c3-144131f8abf5",
      "name": "Prepare for Webhook1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1968
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare webhook payload with proper data mapping\nconst input = $input.first().json;\n\n// Information Extractor outputs data nested under 'output' object\n// Structure: { output: { title: '...', summary: '...', body: '...', featured_image: '...' } }\nconst article = input.output || input;\n\n// Extract fields from nested output structure\nconst title = article.title || '';\nconst summary = article.summary || '';\nconst body = article.body || '';\nconst featured_image = article.featured_image || null;\n\n// Validate required fields\nif (!title || typeof title !== 'string' || title.trim() === '') {\n  throw new Error('Title is required but was empty or missing');\n}\n\nif (!body || typeof body !== 'string' || body.trim() === '') {\n  throw new Error('Body/content is required but was empty or missing');\n}\n\n// Get first image from processed images as fallback\nconst processedImages = $('Process Images1').first().json.imageUrls || [];\nconst firstImage = processedImages.length > 0 ? processedImages[0] : null;\n\n// Use LLM-provided featured_image or fallback to first image\n// Handle case where LLM might return 'null' as string\nlet finalFeaturedImage = featured_image;\nif (!finalFeaturedImage || finalFeaturedImage === 'null' || finalFeaturedImage === 'None' || finalFeaturedImage === '') {\n  finalFeaturedImage = firstImage;\n}\n\n// Validate featured_image URL format if provided\n// Note: Webhook will handle uploading external images\nif (finalFeaturedImage && typeof finalFeaturedImage === 'string') {\n  try {\n    new URL(finalFeaturedImage);\n  } catch (e) {\n    // Invalid URL, set to null\n    finalFeaturedImage = null;\n  }\n}\n\n// Prepare payload matching webhook schema\nconst payload = {\n  title: title.trim(),\n  title_ka: title.trim(),\n  content: body.trim(),\n  content_ka: body.trim(),\n  excerpt: (summary || '').trim(),\n  excerpt_ka: (summary || '').trim(),\n  featured_image: finalFeaturedImage || null,\n  author: 'Mypen Team',\n  published: true\n};\n\n// Final validation\nif (payload.title.length === 0) {\n  throw new Error('Title cannot be empty after trimming');\n}\n\nif (payload.content.length === 0) {\n  throw new Error('Content cannot be empty after trimming');\n}\n\nreturn [{ json: payload }];"
      },
      "id": "b1440068-680c-4eee-9886-0536b02939be",
      "name": "Prepare Webhook Payload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        2016
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields1').item.json.Webhook }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "87e4b60f-92a7-42fe-9810-04e69870ff00",
      "name": "Send to Webhook1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        2144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "e4xkr4s6jVKWYVY0",
          "name": "MPEN - IC"
        }
      }
    },
    {
      "parameters": {
        "text": "=Article Title\n{{ $('Loop Over Items2').item.json.title }}\n\nArticle HTML\n{{ $('Loop Over Items2').item.json.content }}\n\n## IMPORTANT: You MUST include ALL images from the article above in your output HTML body using <img> tags with the EXACT URLs provided. Do not modify or skip any image URLs.",
        "attributes": {
          "attributes": [
            {
              "name": "title",
              "description": "title of article in Georgian",
              "required": true
            },
            {
              "name": "summary",
              "description": "summary of article in Georgian (150-160 characters for SEO)",
              "required": true
            },
            {
              "name": "body",
              "description": "body of article in Georgian as clean, semantic HTML",
              "required": true
            },
            {
              "name": "featured_image",
              "description": "URL of the best image from the article to use as featured image (first relevant image, or null if none)"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=You are a professional blog content writer specializing in rewriting and translating articles to Georgian. You follow strict brand voice guidelines and SEO best practices.\n\n## PRIMARY TASK\nRewrite the provided article in Georgian, creating original content that preserves the core message, information, and approximate length of the source material.\n\n## CRITICAL RULES\n\n### Content Rules\n1. **TRANSLATE TO GEORGIAN** - The entire output (title, summary, body) must be in Georgian\n2. **REWRITE COMPLETELY** - Create original Georgian content; do not translate word-for-word or copy phrases\n3. **MAINTAIN LENGTH** - Keep the rewritten article roughly the same length as the original\n4. **PRESERVE KEY INFORMATION** - All important facts, insights, and takeaways must be retained\n\n### Removal Rules (STRICT)\n5. **NO DATES** - Remove all publication dates; the publishing date is not yet determined\n6. **NO SOURCE ATTRIBUTION** - Do not mention the original website name, company name, or source\n7. **NO AUTHOR CREDIT** - Do not include author names or bylines\n8. **NO EXTERNAL HYPERLINKS** - Remove all URLs and hyperlinks from the original article; do not link to external websites\n\n### Image Rules (CRITICAL)\n9. **MUST INCLUDE ALL IMAGES** - You MUST include EVERY image URL from the \"Images from Original Article\" section in your HTML body\n10. **PRESERVE IMAGE URLs EXACTLY** - Use the EXACT original image URLs provided; do NOT modify, shorten, or change them in any way\n11. **USE PROPER HTML IMG TAGS** - Format images as: <img src=\"EXACT_URL_HERE\" alt=\"აღწერა ქართულად\" />\n12. **TRANSLATE ALT TEXT** - Write descriptive alt text in Georgian for each image\n13. **EMBED NATURALLY** - Place images contextually within the content where they make sense\n14. **DO NOT SKIP IMAGES** - If 3 images are provided, you must include all 3 in your output\n\n### Format Rules\n12. **OUTPUT HTML ONLY** - Body must be clean, semantic HTML (NOT Markdown)\n13. **FOLLOW BRAND VOICE** - Strictly adhere to the brand voice guide provided below\n\n## SEO & HTML REQUIREMENTS\n{{ $('Edit Fields1').item.json['SEO Writing rules'] }}\n## HTML STRUCTURE EXAMPLE\n<h2>სათაური</h2>\n<p>პარაგრაფი ტექსტით...</p>\n<img src=\"original-image-url.jpg\" alt=\"აღწერა ქართულად\" />\n<h3>ქვესათაური</h3>\n<p>მეტი ტექსტი...</p>\n<ul>\n  <li>სიის ელემენტი 1</li>\n  <li>სიის ელემენტი 2</li>\n</ul>\n\n## BRAND VOICE GUIDE\n{{ $('Edit Fields1').item.json['Brand Voice'] }}\n## SELF-CHECK BEFORE OUTPUT\nBefore finalizing, verify:\n- [ ] All text is in Georgian (no English words except proper nouns if necessary)\n- [ ] All HTML tags are properly opened and closed\n- [ ] No hyperlinks or URLs appear in the text content\n- [ ] No mention of original source, website, or author\n- [ ] No publication dates included\n- [ ] All images use original URLs with Georgian alt text\n- [ ] Content length is approximately equal to the original\n\n\nNow rewrite this article in Georgian following all rules above. Output only the final HTML content with no additional commentary."
        }
      },
      "id": "fb135297-0d60-4cb5-b372-b000ef23cc82",
      "name": "Rewrite and Translate Article1",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        416,
        1952
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8739c4a4-a9ed-47b0-b9a7-192baac7fd28",
              "name": "Brand Voice",
              "value": "# **Brand Voice Guide – AI Tools & AI News Blog (Georgian)**\n\n## **1. Core Identity**\n\n**Friendly expert.**\nExplains complex AI topics simply, never oversimplifies.\nTone stays conversational, practical, and reader-focused.\n\n---\n\n## **2. Tone**\n\n* **Warm, direct, human.**\n* **Authoritative without being rigid.**\n* **Energetic but not hype-driven.**\n* **Curious, excited about new tools.**\n\nExamples (in Georgian style):\n\n* “მოკლედ, რა უნდა იცოდე…”\n* “ერთი სიტყვით, ეს ფუნქცია ნამდვილ მოწყობილ ‘shortcut’-ად იქცევა.”\n* “მოდი პრაქტიკულად გავიგოთ, რას ნიშნავს ეს შენთვის.”\n\n---\n\n## **3. Style**\n\n* Short paragraphs.\n* Clear structure: **what it is → why it matters → how to use → quick verdict**.\n* Avoid long academic sentences.\n* Use everyday examples, not theory.\n\n---\n\n## **4. Language (Georgian-Specific Rules)**\n\nTo ensure correctness and natural flow:\n\n**Grammar & Syntax**\n\n* Prefer **active voice**:\n  “AI გეტყვის…” instead of “AI-ის მიერ ითქმება…”\n* Keep verb endings consistent with modern spoken Georgian:\n  use “გაიგებ”, not “გაიგებთ”, unless speaking formally.\n* Avoid literal English calques. Use native constructions:\n\n  * “შესაძლებლობა”, not “ოპშენი”.\n  * “პარამეტრი”, not “სეტინგი” (unless tool-specific).\n  * “შენახვა”, not “სეივი”.\n\n**Loanwords to Keep**\nSome loanwords are acceptable in tech contexts:\n\n* ბეში, მოდელი, ჩელი, ვერშენი, აპდეითი, პლაგინი, დეშბორდი, ინტერესი, ჰები.\n\n**Terminology**\nUse consistent Georgian AI vocabulary:\n\n* AI – **ხელოვნური ინტელექტი (AI)**\n* Model – **მოდელი**\n* Prompt – **პრომპტი / მოთხოვნა**\n* Workflow – **ნამუშევარი პროცესი / workflow**\n* Integration – **ინტეგრაცია**\n* Output – **შემოსული შედეგი / output**\n\n**Punctuation**\n\n* Use Georgian comma/period spacing rules (no space before punctuation).\n* Avoid overuse of “...” unless for tone.\n\n---\n\n## **5. Personality**\n\n* **Curious:** always exploring new tools.\n* **Helpful:** gives clear steps, not abstract ideas.\n* **Honest:** if a tool isn’t good, say it directly.\n* **Practical:** “აი, როგორ გამოიყენო დღესვე…”\n\n---\n\n## **6. What Not To Do**\n\n* No pseudo-scientific jargon.\n* No over-promising (“ეს შეცვლის ყველაფერს”).\n* No robotic sentences.\n* No generic filler (“ტექნოლოგია ძალიან სწრაფად ვითარდება…” – only when supported by specifics).\n\n---\n\n## **7. Signature Phrases (Optional)**\n\nUse sparingly to build consistency:\n\n* “მოდი მარტივად ავხსნათ.”\n* “პრაქტიკულად ეს ნიშნავს…”\n* “შენთვის მთავარი სარგებელი ის არის, რომ…”\n\n---\n\n## **8. Writing Formula for Each Post**\n\n1. **Hook (1 sentence)** – relatable question or pain point.\n2. **Context** – what happened in AI (news/tool update).\n3. **Explanation** – clear, short, with examples.\n4. **Why it matters** – practical benefit for Georgian readers.\n5. **How to try it** – steps.\n6. **Quick takeaway** – one clear conclusion.",
              "type": "string"
            },
            {
              "id": "0437c8cc-ef07-4fe8-ad8b-a503597ba24f",
              "name": "SEO Writing rules",
              "value": "**ROLE**\nYou are a Senior SEO Content Strategist and Information Architect. Your goal is to structure web content that satisfies both search engine algorithms (Google EEAT standards) and human user experience (UX). You prioritize scannability, logical hierarchy, and semantic relevance.\n\n**CORE STRUCTURAL RULES**\n\n1.  **Heading Hierarchy (Strict):**\n    * **H1:** One per page. Must contain the primary keyword.\n    * **H2:** Use for main sections. Must be semantically related to the H1.\n    * **H3:** Use for sub-points within H2s. Do not skip from H2 to H4.\n    * **H4:** Use rarely, only for very deep dives or lists within H3s.\n\n2.  **The \"F-Pattern\" Layout:**\n    * Front-load important information.\n    * Keep the introduction concise (under 150 words).\n    * Place a \"Key Takeaways\" or \"Quick Summary\" box immediately after the H1.\n\n3.  **Table of Contents (ToC):**\n    * For any content over 1,000 words, generate a nested Table of Contents anchor list immediately after the Introduction and before the first H2.\n\n4.  **Paragraph & Sentence Structure:**\n    * Maximum 3 sentences per paragraph.\n    * Use simple, active voice.\n    * Target a Flesch-Kincaid reading score of 60-70 (8th-grade level) unless the topic is highly technical.\n\n**VISUAL & MEDIA PLACEMENT**\n\n1.  **Image Frequency:**\n    * **Rule of Thumb:** Insert one visual element (image, infographic, or chart) for every 300 words of text.\n    * **Placement:** Place a visual immediately after every other H2 header to break up text walls.\n    * **Alt Text:** You must provide descriptive Alt Text for every image placeholder.\n\n2.  **Rich Media:**\n    * If a concept is complex, suggest where to embed a video or place a comparison table.\n\n**CONTENT ENHANCERS**\n\n1.  **Bolding:** Bold key phrases and semantic entities (not just keywords) to facilitate skimming. Do not bold entire sentences.\n2.  **Lists:** Use bullet points for non-ordered items and numbered lists for steps. Never write a list as a comma-separated sentence.\n3.  **Tables:** Use Markdown tables whenever comparing 3+ items or data points.\n\n**OUTPUT FORMAT**\nWhen asked to write or structure content, output the response in Markdown. Include placeholders for images using the format:\n`> [IMAGE INSERTION: Description of image | Alt Text: optimized alt text]`\n\n**SEO METADATA (Always include at the top)**\n* **Target Keyword:** [Keyword]\n* **Slug:** /keyword-rich-slug\n* **Title Tag:** [Main Keyword] + [Power Word] | [Brand] (Max 60 chars)\n* **Meta Description:** Actionable summary including the keyword. (Max 155 chars)",
              "type": "string"
            },
            {
              "id": "306718ce-dbe0-4cc3-98e7-f4b53edd0ce6",
              "name": "Webhook",
              "value": "=https://mypen.ge/api/webhooks/blog",
              "type": "string"
            },
            {
              "id": "5151d04f-a772-44fb-932d-72783b17fb04",
              "name": "Secret",
              "value": "mypen-n8n-webhook-secret-2024-secure-key-change-this",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        1456
      ],
      "id": "5f91a088-0b3a-4dc0-bfa6-5d70f6caeb06",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a content curator for a professional audience of AI practitioners, ML engineers, developers, and tech leaders. Your job is to filter articles to only include high-quality, substantive content that provides genuine value.\n\n## INPUT DATA\nTitle: {{ $json.title }}\nLink: {{ $json.link }}\nContent: {{ $json.content }}\nSnippet: {{ $json.contentSnippet }}\n\n## HARD EXCLUSIONS - Automatically Reject\n\nNever include articles that are:\n- Shopping deals, sales roundups, Black Friday/Cyber Monday content, or \"best of\" buying guides\n- Product unboxings or first impressions without technical depth\n- Basic consumer tech tips (how to clear cache, how much RAM to buy, how to speed up your PC)\n- Promotional content, sponsored posts, or advertorials\n- Aggregated news that simply restates press releases without original analysis\n- Regional business, labor, or policy news unrelated to AI/tech innovation\n- Listicles ranking products by price or popularity\n- Celebrity tech news or lifestyle tech content\n- News briefs under 300 words with no substantive insight\n- Content that will be irrelevant within 1-2 weeks\n\n## MINIMUM QUALITY THRESHOLDS - All Must Be Met\n\nOnly include articles that satisfy ALL of the following:\n- Contains original analysis, research findings, technical explanation, or expert insight\n- Provides actionable information (teaches how to do something, explains implications, offers frameworks)\n- Goes beyond announcement-level reporting (explains WHY it matters, HOW it works, or WHAT to do about it)\n- Demonstrates substantive depth (not a brief news item or surface-level summary)\n- Author has identifiable expertise OR publication maintains editorial standards\n- A senior ML engineer, AI researcher, or tech leader would find it valuable\n\n## TOPIC PRIORITY TIERS\n\n### Tier 1 - Primary Topics (Always include if quality threshold met)\n- AI/ML research breakthroughs, new models, and benchmark results\n- LLM development, fine-tuning, deployment, and operations\n- AI infrastructure, tooling, and MLOps\n- Enterprise AI strategy, implementation, and case studies\n- AI safety, alignment, ethics, and governance\n- Foundational model updates from major labs (OpenAI, Anthropic, Google, Meta, etc.)\n- AI regulation and policy with direct industry impact\n\n### Tier 2 - Secondary Topics (Include if exceptionally high quality)\n- Developer tools, workflows, and productivity\n- Cloud infrastructure and data engineering\n- Tech industry business moves with clear AI implications\n- Open source AI projects and community developments\n- Technical deep-dives on adjacent technologies (databases, APIs, security)\n\n### Tier 3 - Off-Topic (Reject regardless of quality)\n- Consumer electronics deals and reviews\n- Gaming news without substantive AI angle\n- General lifestyle tech and gadget roundups\n- Regional news unless directly affecting global AI development\n- Social media drama or tech personality news\n- Cryptocurrency/blockchain unless directly related to AI\n\n## QUICK FILTER TEST\n\nBefore making your decision, answer these four questions internally:\n\n1. Would a senior ML engineer or AI product manager find this genuinely valuable?\n2. Does this article teach something substantive or just announce a sale/release?\n3. Is there meaningful depth beyond what the headline already conveys?\n4. Will this content still be relevant and useful in 2-3 weeks?\n\nIf ANY answer is NO → article is not valid.\n\n## OUTPUT FORMAT\n\nRespond with ONLY a JSON object. No explanation, no additional text.\n\nIf the article passes all filters:\n{\"valid\": true}\n\nIf the article fails any filter:\n{\"valid\": false}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        176,
        1424
      ],
      "id": "53ab1d2c-85f8-4b34-a00a-3a20b5d92dd8",
      "name": "sorting articles1",
      "credentials": {
        "openAiApi": {
          "id": "eJNHP6n8O3Y9Iv2F",
          "name": "Open Ai - IC"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        2144
      ],
      "id": "3c203b16-ac16-4643-8795-3942c8b78337",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "grfmAQP2FnQMoPJu",
          "name": "Gemini - IC"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -128,
        1424
      ],
      "id": "9ef826a4-62ab-476b-b405-d174b5c2e405",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa454326-5d63-45c9-9512-b0717276ec5b",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        1440
      ],
      "id": "6ea746bb-a6be-4262-a530-867d4379dd3a",
      "name": "If2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        1424
      ],
      "id": "0fcf9b62-12f1-4602-b56f-581d994cb087",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo",
          "mode": "list",
          "cachedResultName": "Mypen Articles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        1424
      ],
      "id": "5b8c2c5e-d990-470c-9667-46f11d9705b2",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KHD2NxVzxY6BFySy",
          "name": "Irakli C"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo",
          "mode": "list",
          "cachedResultName": "Mypen Articles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y-U9gwDwJSOztQLHQZOzUw8hSrrKANOjdcajDdb9wRo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "link": "={{ $('Loop Over Items2').item.json.link }}",
            "status": "Trash"
          },
          "matchingColumns": [
            "link"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "featured URL",
              "displayName": "featured URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contentSnippet",
              "displayName": "contentSnippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contentencoded",
              "displayName": "contentencoded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contentSnippetencoded",
              "displayName": "contentSnippetencoded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generate image",
              "displayName": "generate image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "social media",
              "displayName": "social media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        1552
      ],
      "id": "17a0c074-fc33-457f-82b7-530e927dd628",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KHD2NxVzxY6BFySy",
          "name": "Irakli C"
        }
      }
    }
  ],
  "connections": {
    "Prepare for Webhook1": {
      "main": [
        [
          {
            "node": "Prepare Webhook Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Webhook Payload1": {
      "main": [
        [
          {
            "node": "Send to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Webhook1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite and Translate Article1": {
      "main": [
        [
          {
            "node": "Prepare for Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sorting articles1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Rewrite and Translate Article1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "sorting articles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Rewrite and Translate Article1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Rewrite and Translate Article1": [
      {
        "output": {
          "title": "ხილვადი ხელოვნური ინტელექტი: აუცილებელი SRE ფენა საიმედო LLM-ებისთვის საწარმოებში",
          "summary": "LLM-ების საწარმოებში წარმატებით დანერგვისთვის კრიტიკულია ხილვადი ხელოვნური ინტელექტი, რომელიც უზრუნველყოფს სისტემების სანდოობასა და მართვადობას.",
          "body": "<h1>ხილვადი ხელოვნური ინტელექტი: აუცილებელი SRE ფენა საიმედო LLM-ებისთვის საწარმოებში</h1>\n<p>ხელოვნური ინტელექტის (AI) სისტემების წარმოებაში ინტეგრირებისას, მათი საიმედოობა და მართვადობა არ შეიძლება მხოლოდ სურვილებზე იყოს დამოკიდებული. მოდით განვიხილოთ, თუ როგორ აქცევს <b>ხილვადობა</b> დიდ ენობრივ მოდელებს (LLM) აუდიტირებად და სანდო საწარმოო სისტემებად.</p>\n\n<h2>რატომ უზრუნველყოფს ხილვადობა საწარმოო AI-ის მომავალს?</h2>\n<p>საწარმოების LLM სისტემების დანერგვის სურვილი ღრუბლოვანი ტექნოლოგიების ადრეულ დღეებს ჰგავს. ხელმძღვანელებს უყვართ დაპირება; კომპლაინსი ითხოვს ანგარიშვალდებულებას; ინჟინრებს კი უბრალოდ გამარტივებული გზა უნდათ.</p>\n<p>თუმცა, ამ აღფრთოვანების მიღმა, ლიდერების უმეტესობა აღიარებს, რომ მათ არ შეუძლიათ გაარკვიონ, როგორ მიიღება AI გადაწყვეტილებები, ეხმარება თუ არა ისინი ბიზნესს, ან ხომ არ დაირღვა რომელიმე წესი.</p>\n<p>ავიღოთ, მაგალითად, ერთ-ერთი მსხვილი ბანკი, რომელმაც LLM გამოიყენა სესხის განაცხადების კლასიფიკაციისთვის. საწყისი შეფასებები შესანიშნავი იყო. თუმცა, 6 თვის შემდეგ, აუდიტორებმა აღმოაჩინეს, რომ კრიტიკული შემთხვევების 18% არასწორად იყო გადამისამართებული, ყოველგვარი გაფრთხილების ან კვალის გარეშე. ძირეული მიზეზი არც მიკერძოება იყო და არც ცუდი მონაცემები. ის უხილავი იყო. <b>ხილვადობის გარეშე, არ არსებობს ანგარიშვალდებულება.</b></p>\n<p>თუ ვერ აკვირდები, ვერ ენდობი. და უხილავი AI ჩუმად მარცხდება.</p>\n<p>ხილვადობა ფუფუნება არ არის; ის ნდობის საფუძველია. მის გარეშე AI უმართავი ხდება.</p>\n\n<h2>დაიწყეთ შედეგებით და არა მოდელებით</h2>\n<p>კორპორაციული AI პროექტების უმეტესობა იწყება იმით, რომ ტექნიკური ლიდერები ირჩევენ მოდელს, შემდეგ კი განსაზღვრავენ წარმატების მეტრიკას. ეს არასწორი მიდგომაა.</p>\n<p><b>შეცვალეთ თანმიმდევრობა:</b></p>\n<ul>\n  <li><b>პირველ რიგში, განსაზღვრეთ შედეგი.</b> რა არის გაზომვადი ბიზნეს მიზანი?\n    <ul>\n      <li>სატელეფონო ზარების 15%-ის გადამისამართება.</li>\n      <li>დოკუმენტების განხილვის დროის 60%-ით შემცირება.</li>\n      <li>საქმის დამუშავების დროის ორი წუთით შემცირება.</li>\n    </ul>\n  </li>\n  <li><b>შექმენით ტელემეტრია ამ შედეგის გარშემო,</b> და არა „სიზუსტის“ ან „BLEU ქულის“ გარშემო.</li>\n  <li><b>შეარჩიეთ პრომპტები, მონაცემთა მოძიების მეთოდები და მოდელები,</b> რომლებიც თვალსაჩინოდ აუმჯობესებენ ამ KPI-ებს.</li>\n</ul>\n<p>მაგალითად, ერთ გლობალურ მზღვეველში, წარმატების გადააზრება, როგორც „ერთ განაცხადზე დაზოგილი წუთები“ „მოდელის სიზუსტის“ ნაცვლად, იზოლირებული საპილოტე პროექტი მთელი კომპანიის საგზაო რუკად აქცია.</p>\n\n<h2>LLM ხილვადობის 3-ფენიანი ტელემეტრიული მოდელი</h2>\n<p>ისევე, როგორც მიკროსერვისები ეყრდნობა ლოგებს, მეტრიკას და კვალს, AI სისტემებსაც სჭირდებათ სტრუქტურირებული დაკვირვების სტეკი:</p>\n\n<h3>ა) პრომპტები და კონტექსტი: რა შევიდა სისტემაში</h3>\n<ul>\n  <li>დაარეგისტრირეთ ყველა პრომპტის შაბლონი, ცვლადი და მიღებული დოკუმენტი.</li>\n  <li>ჩაიწერეთ მოდელის ID, ვერსია, შეყოვნება და ტოკენების რაოდენობა (თქვენი ძირითადი ხარჯების მაჩვენებლები).</li>\n  <li>შეინახეთ აუდიტირებადი რედაქტირების ჟურნალი, სადაც ნაჩვენებია, თუ რა მონაცემები იქნა დაფარული, როდის და რა წესით.</li>\n</ul>\n\n<h3>ბ) პოლიტიკა და კონტროლი: დამცავი ზომები</h3>\n<ul>\n  <li>აღბეჭდეთ უსაფრთხოების ფილტრის შედეგები (ტოქსიკურობა, პერსონალური მონაცემები), ციტატების არსებობა და წესების გააქტიურება.</li>\n  <li>შეინახეთ პოლიტიკის მიზეზები და რისკის დონე თითოეული დანერგვისთვის.</li>\n  <li>შედეგები დაუკავშირეთ მმართველ მოდელის ბარათს გამჭვირვალობისთვის.</li>\n</ul>\n\n<h3><img SRC=\"https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png\"></img>გ) შედეგები და უკუკავშირი: იმუშავა თუ არა?</h3>\n<ul>\n  <li>შეაგროვეთ ადამიანის შეფასებები და რედაქტირების მანძილი მიღებული პასუხებიდან.</li>\n  <li>აკონტროლეთ შემდგომი ბიზნეს მოვლენები: შემთხვევა დახურულია, დოკუმენტი დამტკიცებულია, პრობლემა მოგვარებულია.</li>\n  <li>გაზომეთ KPI ცვლილებები: ზარის დრო, ჩამორჩენა, ხელახლა გახსნის სიხშირე.</li>\n</ul>\n<p>სამივე ფენა დაკავშირებულია საერთო საიდენტიფიკაციო ნომრით, რაც საშუალებას იძლევა ნებისმიერი გადაწყვეტილება ხელახლა იქნას გაშვებული, აუდიტირებული ან გაუმჯობესებული.</p>\n\n<h2>SRE პრინციპების გამოყენება: SLO-ები და შეცდომის ბიუჯეტები AI-ისთვის</h2>\n<p>სერვისის საიმედოობის ინჟინერიამ (SRE) შეცვალა პროგრამული უზრუნველყოფის ოპერაციები; ახლა AI-ის ჯერია.</p>\n<p>განსაზღვრეთ სამი „ოქროს სიგნალი“ ყოველი კრიტიკული workflow-ისთვის:</p>\n<table>\n  <thead>\n    <tr>\n      <td><b>სიგნალი</b></td>\n      <td><b>სამიზნე SLO</b></td>\n      <td><b>დარღვევის შემთხვევაში</b></td>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td><b>ფაქტობრიობა</b></td>\n      <td>≥ 95% წყაროსთან შემოწმებული</td>\n      <td>წყაროსთან შემოწმებულ შაბლონზე გადართვა</td>\n    </tr>\n    <tr>\n      <td><b>უსაფრთხოება</b></td>\n      <td>≥ 99.9% გაივლის ტოქსიკურობის/პერსონალური მონაცემების ფილტრებს</td>\n      <td>კარანტინი და ადამიანის მიერ განხილვა</td>\n    </tr>\n    <tr>\n      <td><b>სარგებლიანობა</b></td>\n      <td>≥ 80% მიღებული პირველივე მცდელობაზე</td>\n      <td>პრომპტის/მოდელის გადამზადება ან უკან დაბრუნება</td>\n    </tr>\n  </tbody>\n</table>\n<p>თუ ჰალუცინაციები ან უარყოფები გადააჭარბებს ბიუჯეტს, სისტემა ავტომატურად გადადის უფრო უსაფრთხო პრომპტებზე ან ადამიანის განხილვაზე, ისევე როგორც ტრაფიკის გადამისამართება სერვისის შეფერხების დროს.</p>\n<p>ეს არ არის ბიუროკრატია; ეს არის საიმედოობა, გამოყენებული მსჯელობისთვის.</p>\n\n<h2>შექმენით ხილვადობის თხელი ფენა ორ აგილურ სპრინტში</h2>\n<p>არ გჭირდებათ ექვსთვიანი სამოქმედო გეგმა, მხოლოდ ფოკუსი და ორი მოკლე სპრინტი.</p>\n\n<h3>პირველი სპრინტი (1-3 კვირა): საფუძვლები</h3>\n<ul>\n  <li>ვერსიის კონტროლირებადი პრომპტების რეესტრი.</li>\n  <li>პოლიტიკასთან დაკავშირებული რედაქტირების შუალედური პროგრამა.</li>\n  <li>მოთხოვნის/პასუხის ლოგირება საერთო ID-ებით.</li>\n  <li>ძირითადი შეფასებები (პერსონალური მონაცემების შემოწმება, ციტატის არსებობა).</li>\n  <li>მარტივი ადამიანის ჩართულობის (HITL) ინტერფეისი.</li>\n</ul>\n\n<h3>მეორე სპრინტი (4-6 კვირა): დამცავი ზომები და KPI-ები</h3>\n<ul>\n  <li>ოფლაინ ტესტების ნაკრებები (100–300 რეალური მაგალითი).</li>\n  <li>ფაქტობრიობისა და უსაფრთხოების პოლიტიკის კარიბჭეები.</li>\n  <li>მარტივი დაფა SLO-ების და ხარჯების მონიტორინგისთვის.</li>\n  <li>ავტომატური ტოკენისა და შეყოვნების ტრეკერი.</li>\n</ul>\n<p>6 კვირაში გექნებათ თხელი ფენა, რომელიც პასუხობს მართვისა და პროდუქტის კითხვების 90%-ს.</p>\n\n<h2>გახადეთ შეფასებები უწყვეტი (და რუტინული)</h2>\n<p>შეფასებები არ უნდა იყოს ერთჯერადი, გმირული ქმედებები; ისინი რუტინული უნდა იყოს.</p>\n<ul>\n  <li>შექმენით ტესტების ნაკრებები რეალური შემთხვევებიდან; განაახლეთ 10–20% ყოველთვიურად.</li>\n  <li>განსაზღვრეთ მკაფიო მიღების კრიტერიუმები, რომლებსაც იზიარებენ პროდუქტისა და რისკის გუნდები.</li>\n  <li>გაუშვით ტესტები ყოველ პრომპტის/მოდელის/პოლიტიკის ცვლილებაზე და ყოველკვირეულად ცდომილებების შესამოწმებლად.</li>\n  <li>გამოაქვეყნეთ ერთიანი ქულების ბარათი ყოველ კვირას, რომელიც მოიცავს ფაქტობრიობას, უსაფრთხოებას, სარგებლიანობას და ხარჯებს.</li>\n</ul>\n<p>როდესაც შეფასებები CI/CD-ის ნაწილია, ისინი აღარ არის შესაბამისობის თეატრი და იქცევა ოპერაციულ შემოწმებად.</p>\n\n<h2>ადამიანის ზედამხედველობა იქ, სადაც ეს მნიშვნელოვანია</h2>\n<p>სრული ავტომატიზაცია არც რეალისტურია და არც პასუხისმგებლიანი. მაღალი რისკის ან გაურკვეველი შემთხვევები ადამიანის განხილვას უნდა დაექვემდებაროს.</p>\n<ul>\n  <li>დაბალი ნდობის ან პოლიტიკით მონიშნული პასუხები ექსპერტებს გადაუგზავნეთ.</li>\n  <li>ჩაიწერეთ ყოველი რედაქტირება და მიზეზი, როგორც სასწავლო მონაცემები და აუდიტის მტკიცებულება.</li>\n  <li>მიმოხილველის უკუკავშირი გამოიყენეთ პრომპტებისა და პოლიტიკის გასაუმჯობესებლად.</li>\n</ul>\n<p>ერთ ჯანდაცვის ტექნოლოგიურ კომპანიაში ამ მიდგომამ 22%-ით შეამცირა ცრუ დადებითი შედეგები და კვირების განმავლობაში შექმნა გადამზადებადი, შესაბამისობისთვის მზა მონაცემთა ნაკრები.</p>\n\n<h2>ხარჯების კონტროლი დიზაინის მეშვეობით, არა იმედით</h2>\n<p>LLM ხარჯები არაწრფივად იზრდება. ბიუჯეტები არ გიშველით – არქიტექტურა კი.</p>\n<ul>\n  <li>დააწყვეთ პრომპტები ისე, რომ დეტერმინისტული სექციები გენერაციულებამდე იმუშაოს.</li>\n  <li>კონტექსტი შეკუმშეთ და გადაანაწილეთ, ნაცვლად მთელი დოკუმენტების დაყრისა.</li>\n  <li>დააფიქსირეთ ხშირი მოთხოვნები და ხელსაწყოების გამომავალი შედეგები გარკვეული ვადით.</li>\n  <li>აკონტროლეთ შეყოვნება, გამტარუნარიანობა და ტოკენების გამოყენება თითოეული ფუნქციისთვის.</li>\n</ul>\n<p>როდესაც ხილვადობა მოიცავს ტოკენებსა და შეყოვნებას, ხარჯი კონტროლირებად ცვლადად იქცევა და არა მოულოდნელობად.</p>\n\n<h2>90-დღიანი სამოქმედო გეგმა</h2>\n<p>ხილვადი AI პრინციპების მიღებიდან 3 თვის განმავლობაში, საწარმოებმა უნდა დაინახონ:</p>\n<ul>\n  <li>1-2 წარმოების AI ასისტენტი ადამიანის ჩართულობით რთული შემთხვევებისთვის.</li>\n  <li>ავტომატიზირებული შეფასების ნაკრები გაშვებამდე და ყოველდღიური შემოწმებისთვის.</li>\n  <li>ყოველკვირეული ქულების ბარათი, რომელსაც იზიარებენ SRE, პროდუქტისა და რისკის გუნდები.</li>\n  <li>აუდიტისთვის მზა კვალი, რომელიც აკავშირებს პრომპტებს, პოლიტიკასა და შედეგებს.</li>\n</ul>\n<p>ერთ-ერთ მსხვილ კლიენტთან, ამ სტრუქტურამ 40%-ით შეამცირა ინციდენტების დრო და შეათანხმა პროდუქტისა და შესაბამისობის სამოქმედო გეგმები.</p>\n\n<h2>ნდობის გაზრდა ხილვადობის მეშვეობით</h2>\n<p>ხილვადი AI არის გზა, რომლითაც AI ექსპერიმენტიდან ინფრასტრუქტურად იქცევა.</p>\n<p>გამჭვირვალე ტელემეტრიით, სერვისის დონის მიზნებით (SLO) და ადამიანის უკუკავშირის მარყუჟებით:</p>\n<ul>\n  <li>ხელმძღვანელები იძენენ მტკიცებულებებზე დაფუძნებულ ნდობას.</li>\n  <li>კომპლაინსის გუნდები იღებენ აუდიტირებად ჯაჭვებს.</li>\n  <li>ინჟინრები უფრო სწრაფად მუშაობენ და უსაფრთხოდ ანთავსებენ პროდუქტებს.</li>\n  <li>მომხმარებლები იღებენ საიმედო, ახსნად AI-ს.</li>\n</ul>\n<p><b>ხილვადობა არ არის დამატებითი ფენა; ის არის მასშტაბური ნდობის საფუძველი.</b></p>"
        }
      }
    ],
    "sorting articles1": [
      {
        "output": [
          {
            "id": "msg_0f947cc1cc9056b100692c5b6e1554819f9b1a991caaac3d48",
            "type": "message",
            "status": "completed",
            "content": [
              {
                "type": "output_text",
                "annotations": [],
                "logprobs": [],
                "text": "{\"valid\": true}"
              }
            ],
            "role": "assistant"
          }
        ]
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0320382499acc1816c05e1130ede806d6731eecdef3b30ac30aabf4236c8764"
  }
}